.content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  // min-height: 85vh;
}

.star-rating button {
  background: none;
  border: none;
  cursor: pointer;
}

.star-rating i {
  transition: color 0.3s ease;
}

.nav-column {
  display: flex;
  gap: 2%;
  justify-content: end;
  list-style-type: none;
}

.searchIcon {
  position: relative;
  left: -30px;
  cursor: pointer;
}

.terms-bottom {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  font-size: 14px;
}

#myModal {
  display: none;
}

.modal.show {
  display: block !important;
}

.modal-body img {
  display: block;
  margin: 0 auto;
}

.custom-select {
  border: none;
  outline: none;
  background: none;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;
}

.custom-selectwrap {
  text-overflow: ellipsis; /* Ensures text is truncated */
  overflow: hidden;        /* Prevents overflow of text */
  white-space: nowrap;     /* Keeps text in a single line */
  width: 150px;            /* Sets a fixed width for the dropdown */
}

.custom-selectwrap option {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  max-width: 150px; /* Matches the select element width */
}

.loader {
  // border-top-color: #3490dc;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  border: 4px solid transparent;
  border-top-color: #3490dc;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.carousel-container {
  width: 100%;
  max-width: 300px;
}

@media (max-width: 768px) {
  .carousel-container {
    max-width: 100%;
  }
}

.carousel .slide img {
  width: 100%;
  border-radius: 8px;
}

::ng-deep .slick-prev::before,
::ng-deep .slick-next::before {
  color: #fff;
}

::ng-deep .slick-prev {
  left: 5px;
  z-index: 1;
}

::ng-deep .slick-next {
  right: 5px;
  z-index: 1;
}

::ng-deep .slick-dots {
  top: 85%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex !important;
  justify-content: center;
  z-index: 1;
}

::ng-deep .slick-dots li {
  margin: 0 5px;
}

::ng-deep .slick-dots li button:before {
  color: white;
  font-size: 6px;
  opacity: 0.7;
}

::ng-deep .slick-dots li.slick-active button:before {
  color: white;
  opacity: 1;
}
.centered{
    display: flex;
    justify-content: center;
    align-items: center;
}
/* Sidebar Transition */
.translate-x-0 {
  transform: translateX(0);
  width: 25%;
  background: #f4f4f5;
}
.service-image {
  width: 100%;
  max-width: 300px;         
  aspect-ratio: 4 / 3;       
  overflow: hidden;
  border-radius: 10px;
}

.service-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;       
  display: block;
}
@media (max-width: 1024px) {
  .service-image {
    max-width: 240px;
  }
}
@media (max-width: 768px) {
  .service-image {
    max-width: 160px;
  }
}