<div class="max-w-md bg-white mx-auto p-6">
    <section class="content">
        <div *ngIf="notificationMessage" [ngClass]="{'success': notificationType === 'success', 'error': notificationType === 'error'}" 
        class="notification fixed top-4 right-4 p-4 rounded-lg shadow-lg">
        {{ notificationMessage }}
        </div>
        <!-- <div *ngIf="message" 
            class="alert flex items-center px-4 py-3 rounded-lg"
            [ngStyle]="{
                'background-color': status ? '#20c997' : '#e6294b',
                color: 'white'
            }"> {{ message }}
            <button type="button" class="close ml-auto" aria-hidden="true" (click)="clearMessage()">&times;</button>
            <i class="icon mr-2" [ngClass]="{
                'fa fa-check': status,
                'fa fa-times': !status
            }"></i>
        </div> -->


        <div class="mb-6">
            <h3 class="text-base sm:text-2xl font-extrabold mb-6 text-gray-800">Change Password</h3>
        </div>

        <form [formGroup]="passwordForm" (ngSubmit)="onSubmit()" class="space-y-4">
            <div class="form-group">
                <label for="currentpassword" class="block text-sm font-medium text-gray-700">
                    Current Password <span class="text-red-500">*</span>:
                </label>
                <input type="password" formControlName="currentpassword" id="currentpassword"
                    class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
                    placeholder="Current Password" maxlength="20" />
                <div *ngIf="submitted && passwordForm.controls['currentpassword'].errors" class="text-red-500 text-sm mt-1">
                    <small *ngIf="passwordForm.controls['currentpassword'].errors?.['required']">Current Password is required.</small>
                </div>
            </div>

            <div class="form-group">
                <label for="newpassword" class="block text-sm font-medium text-gray-700">
                    New Password <span class="text-red-500">*</span>:
                </label>
                <input type="password" formControlName="newpassword" id="newpassword"
                    class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
                    placeholder="New Password" maxlength="20" />
                <div *ngIf="submitted && passwordForm.controls['newpassword'].errors" class="text-red-500 text-sm mt-1">
                    <small *ngIf="passwordForm.controls['newpassword'].errors?.['required']">New Password is required.</small>
                    <small *ngIf="passwordForm.controls['newpassword'].errors?.['minlength']">New Password must be at least 8 characters long.</small>
                </div>
            </div>

            <div class="form-group">
                <label for="confirmpassword" class="block text-sm font-medium text-gray-700">
                    Confirm Password <span class="text-red-500">*</span>:
                </label>
                <input type="password" formControlName="confirmpassword" id="confirmpassword"
                    class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
                    placeholder="Confirm Password" maxlength="20" />
                <div *ngIf="submitted && passwordForm.controls['confirmpassword'].errors" class="text-red-500 text-sm mt-1">
                    <small *ngIf="passwordForm.controls['confirmpassword'].errors?.['required']">Confirmation Password is required.</small>
                    <small *ngIf="passwordForm.controls['confirmpassword'].errors?.['mustMatch']">Passwords must match.</small>
                </div>
            </div>

            <div class="flex justify-between items-center">
                <button type="submit" [disabled]="loading" class="bg-blue-500 text-white px-4 py-2 rounded-lg hover:bg-blue-600 flex items-center space-x-2">
                    Update
                </button>
                <button type="reset" class="px-6 py-2 rounded-lg bg-gray-500 text-white hover:bg-gray-600 focus:ring-2 focus:ring-gray-400 focus:ring-offset-2" (click)="onReset()">Cancel</button>
            </div>
        </form>
    </section>
</div>
